.container .title{
    color: white;
    font-size: 3rem;
    text-align: center;
    margin: 2rem 0 1rem;
}
.txt{
    text-align: center;
    padding: 1rem;
    color: white;
    background-color: #d9831a;
}
.txtp{
    margin: 30px;
    text-align: center;
    color: white;
}
.title .query-text{
    color: #d9831a;
}

.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}
.movies-container div{
     width: 30%;
     margin-bottom: 2.5rem;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     background-color: #115475d6;
     border: solid 1px #65EB00;
     padding: 1rem;
     border-radius: 30px;
}
.movies-container div img{
    max-width: 100%;
    border-radius: 30px;
}
.movies-container div img,
.movies-container div p {
    margin-bottom: 1rem;
}
.movies-container div svg{
    color: yellow;
}

.movies-container div a{
    background-color: #d9831a;
    border: 2px solid #d9831a;
    border-radius: 120px;
    color: #65EB00;
    padding: 1rem .5rem;
    align-items: center;
    transition: .4s;
    text-align: center;
    font-weight: bold;
    border: solid 1px #65EB00;
}
.movies-container div a:hover{
    background-color: transparent;
    color: #f78c0a;
    border: 1px solid #f78c0a;
}